body{
    background-image: url(/assets/pic/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1{
    font-size: 55px;
    font-weight: bold;
    color: #daa520;
}
#phrase{
    font-style: italic;
}
button{
    background-color: #daa520;
    color: #085426!important;
    font-weight: bolder;
    width: 175px;
}
